@import './variables';

.container {
  grid-area: header;
  position: sticky;
  top: 0;
  height: 8rem;
  padding: 2rem;
  border-bottom: 0.1rem solid $border;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title,
.username {
  font-size: 2rem;
}

.title {
  color: $primary;
}

.username {
  font-weight: $light;
}
